/Manifest.toml
/docs/build/
*.pdf
*.jld2
*.dat
*.npz
Sample/Honeycomb_KaneMele.jl
Sample/HoneycombKekule.jl
Sample/SimpleTightBindingWith12Unitcells.jl
Sample/SquareNeel.jl
Sample/TriangularLattice.jl
Sample/Honeycomb_t1t3_thermal.jl

